@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #3B4044;
  padding: 0; 
  margin: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

canvas {
  cursor: pointer;
  margin-right: 150px;
  background-color: #fff;
}

.sidebar-left {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  background-color: #252A30;
  -webkit-box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.3);
  box-shadow:   1px 0px 1px 1px rgba(0,0,0,0.3);
}

.sidebar-right {
  display: -webkit-flex;
  color: #fff;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: -205px;
  width: 200px;
  z-index: 0;
  padding-top: 20px;
  background-color: #252A30;
  -webkit-box-shadow: -1px 0px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 0px 1px 1px rgba(0,0,0,0.3);
  box-shadow: -1px 0px 1px 1px rgba(0,0,0,0.3);
  transition: right 200ms ease-out;
  -moz-transition: right 200ms ease-out;
  -ms-transition: right 200ms ease-out;
  -o-transition: right 200ms ease-out;
  -webkit-transition: right 200ms ease-out;
  /* font-family: roboto-thin; */
}

.sidebar-title {
  color: #d3d3d3;
  font-family: roboto-regular;
  font-size: 25px;
}

.title-separator {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 2px solid #d3d3d3;
  border-radius: 50%;
  opacity: 0.3;
}

.slide {
  right: 0;
  z-index: 2;
}

.icon-option {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-option:hover:not(.active-option) {
  background-color: #45494C;
}

.active-option {
  background-color: #1d2126;
}

/* Sliders */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #556df4;
  cursor: pointer;
}

