@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

html, body {
  height: 100%;
}

body {
  background-color: #252A30;
  padding: 0; 
  margin: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.center-wrapper {
  display: flex;
  flex-flow: column;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.center-wrapper h1 {
  font-family: roboto-thin;
  font-size: 35px;
  color: #BCBDC0;
}

.center-wrapper h3 {
  font-family: roboto-thin;
  color: #8b8c8e;
  margin: 0;
}

.center-wrapper span {
  font-family: roboto-regular;
}

.options-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: roboto-medium;
  color: #8b8c8e;
}

.options-container [class^="flaticon-"]:before {
  color: #8b8c8e;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

.project-option {
  display: flex;
  align-items: center;
  border: 2px solid #8b8c8e;
  border-radius: 5px;
  margin-right: 20px;
  padding: 8px;
  width: 220px;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.project-option:hover {
  background-color: #373e47;
}
